*, * ::before, * ::after{
    margin: 0;
    padding: 5px;
    box-sizing: inherit;
}
h1 {
    font-size: clamp(61px, 4vw, 78px);
    font-weight: 800;
    text-align: center;
    padding: 15px;
}


:root {
    --color-white: #ffffff;
    --color-grey: #333333;

}

body {
    background-color: aquamarine;
    background-image: url("/public/images/plant.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


p, li{
    font-size: clamp(17px,4vw, 21px);
}

.quiz-card,.quiz-result {
    background-color: white;
    border-radius: 13px;
    padding: 50px;
    opacity: 0.91;
    border: 5px solid navajowhite
}

.quiz-card {
    list-style-type: none;
    margin-left:70px ;
    padding: 0;
    
}

.quiz-card ul li {
    padding: 10px;


}


.quiz-card ul li:hover {
    background-color: rgb(255, 219, 127);
}

footer {
    text-align: center;

}